<%- include('../partials/header.ejs'); %> 

    <section class="section home-section">
        <div class="container">
            <p class="home-text text-uppercase text-center"><%= data[0].synopsis %></p>
        </div>
    </section>

    <%- include('../partials/footer.ejs'); %>